In [3]:
import pandas as pd
import requests

In [132]:
l = requests.get("https://restcountries.com/v3.1/all?fields=name")
j = requests.get("https://restcountries.com/v3.1/all?fields=currencies")
k = requests.get("https://restcountries.com/v3.1/all?fields=languages")

In [230]:
df = pd.DataFrame(columns=['name','currencies','languages','num_currencies','num_languages','curr-Lang Ratio'])

In [231]:
for x in range(len(l.json())):
    cur = len(list(j.json()[x]['currencies'].keys()))
    lan = len(list(k.json()[x]['languages'].keys()))
    if cur ==  0:
        cur = 1
    if lan ==0:
        lan = 1
    df.loc[len(df.index)] = [l.json()[x]['name']['common'],list(j.json()[x]['currencies'].keys()),list(k.json()[x]['languages'].keys()),len(list(j.json()[x]['currencies'].keys())),len(list(k.json()[x]['languages'].keys())),cur/lan]

In [233]:
df.sort_values(by=['curr-Lang Ratio'],ascending=False)

,name,currencies,languages,num_currencies,num_languages,curr-Lang Ratio
39,Palestine,"[EGP, ILS, JOD]",[ara],3,1,3.000000
207,Cambodia,"[KHR, USD]",[khm],2,1,2.000000
176,Cuba,"[CUC, CUP]",[spa],2,1,2.000000
138,Bhutan,"[BTN, INR]",[dzo],2,1,2.000000
47,Bahamas,"[BSD, USD]",[eng],2,1,2.000000
...,...,...,...,...,...,...
129,Switzerland,[CHF],"[fra, gsw, ita, roh]",1,4,0.250000
25,Namibia,"[NAD, ZAR]","[afr, deu, eng, her, hgm, kwn, loz, ndo, tsn]",2,9,0.222222
57,DR Congo,[CDF],"[fra, kon, lin, lua, swa]",1,5,0.200000
40,South Africa,[ZAR],"[afr, eng, nbl, nso, sot, ssw, tsn, tso, ven, ...",1,11,0.090909
225,Zimbabwe,[ZWL],"[bwg, eng, kck, khi, ndc, nde, nya, sna, sot, ...",1,15,0.066667